.dropdown_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    position: relative;
    z-index: 999;
}

.filter_items{
    background-color: rgb(177, 196, 108, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.filter_items_input {
    height: 100%;
    border: none;
    margin: 0;
    padding-left: 10px;
    background-color: rgb(177, 196, 108, 0);
    flex-grow: 1;
}

.filter_items_input:focus {
    outline: none;
}

.filter_items_icon {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    padding-left: 10px;
}

.filter_items_icon svg {
    height: 20px;
    width: 20px;
}

.dropdown_options {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
    overflow-y: scroll;
    padding: 5px;
    background-color: #FFFFFF;
}

.dropdown_options::-webkit-scrollbar {
    background: transparent;
}

.dropdown_options::-webkit-scrollbar-thumb {
    background-color: rgb(177, 196, 108, 0.3);
    border-radius: 10px;
}

.dropdown_options::-webkit-scrollbar-thumb:hover,
.dropdown_options::-webkit-scrollbar-thumb:active {
    background-color: rgb(177, 196, 108, 0.6);
}

.dropdown_options span {
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.dropdown_options span:hover {
    cursor: pointer;
    background-color: rgb(177, 196, 108, 0.2);
}

